<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ardulove</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='site/favicon.ico') }}">

</head>
<body>
{% include 'nav.html' %}
<div class="container mt-5">
    <h1>Добро пожаловать на Ardulove!</h1>
    <p class="lead">Arduino - это открытая платформа для создания электронных проектов. Мы любим и поддерживаем Arduino, и наш сайт посвящен всем аспектам этой удивительной технологии.</p>
    <p>Исследуйте мир Arduino и раскройте свой творческий потенциал!</p>

    <!-- Adding navigation links -->
    <nav>
        <ul>
            <li><a href="/projects">Наши проекты</a></li>
            <li><a href="/instructions">Полезные инструкции</a></li>
            <li><a href="/products">Продукты</a></li>
        </ul>
    </nav>
        <div>
            <h3>Популярные проекты</h3>
            <ul>
              <li><a href="project/1">Проект метеостанции на Arduino Nano,  OLED I2C 128х64 и DHT22</a></li>
            </ul>
          </div>
</div>
{% include 'footer.html' %}
</body>
</html>
