<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.6.0/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='site/main_logo.png') }}" alt="Ardulove Logo" style="max-height: 40px;">
        </a>

        <!-- Add responsive navigation toggle button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/projects">Наши проекты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/instructions">Инструкции</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products">Продукты</a>
                </li>
            </ul>
            <span class="navbar-text">
                Свяжитесь с нами: <a href="tel:+79774660777">+7(977)466-07-77</a>
            </span>
        </div>
    </div>
</nav>

<!-- Add Bootstrap JS and jQuery for the responsive navigation toggle button -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.min.js"></script>

<script>
    // Получаем текущий путь страницы
    var currentPath = window.location.pathname;

    // Находим ссылку, которая соответствует текущему пути
    var activeLink = document.querySelector('.navbar-nav a[href="' + currentPath + '"]');

    // Если такая ссылка найдена, добавляем класс 'active' к родительскому элементу 'li'
    if (activeLink) {
        activeLink.parentElement.classList.add('active');
    }
</script>

</body>
</html>
