<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ project.title }} - Project Detail</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h2>{{ project.title }}</h2>
    <img src="{{ url_for('static', filename='images/' + project.image) }}" class="img-fluid" alt="{{ project.title }}">
    <p class="mt-3">{{ project.description }}</p>
    <p><strong>Article:</strong> {{ project.article | safe }}</p>
    <!-- Дополнительные поля или информация о проекте, которую вы хотите отобразить -->
</div>

</body>
</html>
